[credential]
        helper = store
[user]
        email = hexhowells@gmail.com
        name = hexhowells
[core]
        autocrlf = true
[alias]
        st = status
        co = checkout
        br = branch
        cm = commit
        df = diff
        lg = log --oneline --graph --decorate --all
        cnv = commit --no-verify
[push]
        default = current
        autoSetupRemote = true
